.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#block-3{
  background-color: #fafafa;
}

#text-header-2 {
  color: #d82f8b;
  
}

.title-block-3 {
  color: #D82D8B;
  font-size: 18px ;
  margin: 0px 0px 8px;
  font-weight: 700;
}

#text-col{
  font-size: 14px;
  color: #737373;
  overflow: hidden; /* can chinh khong bi lech */
}

#col-1{
  padding: 40px 8px 0px;
}

#img-1, #img-2{
  margin: 0px 0px 0px 90px;
}

#col-3{
  padding: 35px 0px 0px 0px;
}

#img-3 , #img-4{
  margin: 0px 90px 0px 0px;
}

.btn-primary{
  color: #FFFFFFF2;
  background-color: #D82D8B;
  font-size: 14px ;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 0.375rem;
  border-width: 1px;
  opacity: 1;
  border-color: rgb(216, 45, 139);
  font-weight: 700;
  line-height: 1.25rem;
  cursor: pointer;
  border: 0;

  position: absolute;
  transform: translate(-50%, -150%);
  -ms-transform: translate(50%, 50%);
  
}

.btn-primary:hover{
  color: #FFFFFFF2;
  background-color: #a50064;
}

/* Container needed to position the button. Adjust the width as needed */
#container-image{
  position: relative;
}

#text-header-5 {
  color: #737373;
  font-weight: normal;
}

#doitac {
  font-weight: bold;
  color: #d82f8b;
}

/* partner description */
#card-description {
  font-size: small;
  color: #737373;
  font-weight: normal;
}

#card-doitac {
  /* style={{ width: 349, height: 125 }} */
  /* width: 349px;
  height: 100px; */
  transition: 0.2s;
}

#card-doitac:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

#xemchitiet {
  font-weight: normal;
  font-size: smaller;
  /* color: blue; */
}

#row-doitac {
  padding-top: 10px;
}

.top-buffer {
  margin-top: 20px;
}

.btn-outline-custom {
  border-bottom-color: rgb(216, 45, 139);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(216, 45, 139);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(216, 45, 139);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(216, 45, 139);
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(165, 0, 100);
  cursor: auto;
  display: inline;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  height: auto;
  line-height: 24px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 4px;
  tab-size: 4;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
}

.btn-outline-custom:hover {
  background-color: rgb(255, 240, 246);
  border-bottom-color: rgb(216, 45, 139);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(216, 45, 139);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(216, 45, 139);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(216, 45, 139);
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(165, 0, 100);
  cursor: auto;
  display: inline;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  height: auto;
  line-height: 24px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 4px;
  tab-size: 4;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
}

#block-8 {
  background-color: #171717;
}

#bottom-menu {
  color: #fafafa;
  font-weight: bolder;
  /* align-items: center; */
}

#submenu-information, #submenu-link, #submenu-link:visited {
  color: rgb(229, 229, 229);
  text-decoration: none;
  font-size: small;
}

#submenu-link:hover {
  color: #fafafa;
}

#contact {
  color: #fafafa;
  font-weight: bolder;
}

#contact:hover {
  color: rgb(235, 47, 150);
}

#for-credit {
  width: 90%;
  padding-bottom: 30pt;
  margin: auto;
  color: rgb(229, 229, 229);
}

#social {
  width: 30px;
  height: 30px;
}

#paragraph {
  font-size: 16px;
  color: #000000D9;

}

#col-paragraph {
  padding: 0px 100px;
}